<div class="page-content">
  <div class="table-content">
    <div style="padding: 25px">
      <div class="add-btn-container"><button mat-icon-button class="btn-add" (click)="addProject()"></button></div>
      <ng-container class="table-responsive">
        <table class="table header_fijo">
          <thead>
            <tr style="color: white">
              <th style="width: 120px" scope="col">Acción</th>
              <th scope="col">A</th>
              <th scope="col">B</th>
              <th scope="col">C</th>
            </tr>
          </thead>
          <tbody style="color: white">
            <tr *ngFor="let project of proList">
              <th scope="row">
                <button mat-icon-button class="btn-edit" (click)="editProject(project)"></button>
                <button mat-icon-button class="btn-delete" (click)="deleteProject(project)"></button>
                <button mat-icon-button class="btn-add-admin" (click)="adminProject(project)"></button>
              </th>
              <td>{{project.a}}</td>
              <td>{{project.b}}</td>
              <td>{{project.c}}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <label style="color: white">Showing {{proList.length}}</label>
    </div>
  </div>


