.table-content {
  margin-top: 25px;
  width: 1200px;
  height: 600px;
  border: 1px solid white;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontal */
  justify-content: start; /* vertical */
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(#015d96, #75c9f6);
}

.btn-edit {
  height: 20px;
  width: 20px;
  background-image: url("https://img.icons8.com/ios-glyphs/20/FFFFFF/edit.png");
  margin-right: 10px;
}

.btn-delete {
  height: 20px;
  width: 20px;
  background-image: url("https://img.icons8.com/ios-glyphs/20/FFFFFF/filled-trash.png");
  margin-right: 10px;
}

.btn-add-admin {
  height: 30px;
  width: 30px;
  background-image: url("https://img.icons8.com/sf-regular/30/FFFFFF/right-squared.png");
}

.btn-add {
  height: 50px;
  width: 50px;
  background-image: url("https://img.icons8.com/ios-glyphs/50/FFFFFF/add--v1.png");
}

.add-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.edit-dialog {
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontal */
  justify-content: start; /* vertical */
}

.header_fijo {
  width: 1150px;
  table-layout: fixed;
  border-collapse: collapse;
}

.header_fijo thead {
  align-items: center;
}

.header_fijo thead tr {
  display: block;
  position: relative;
}

.header_fijo tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 450px;
}

th {
  width: 283px;
}

tbody th {
  width: 120px;
}

td {
  width: 283px;
}
