.table-content {
  margin-top: 25px;
  width: 1200px;
  height: 600px;
  border: 1px solid white;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontal */
  justify-content: start; /* vertical */
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(#015d96, #75c9f6);
}

.btn-open {
  height: 25px;
  width: 25px;
  background-image: url("https://img.icons8.com/ios-glyphs/25/FFFFFF/plus-math.png");
}

.btn-edit {
  height: 20px;
  width: 20px;
  background-image: url("https://img.icons8.com/ios-glyphs/20/FFFFFF/edit.png");
  margin-right: 10px;
}

.btn-delete-active {
  height: 20px;
  width: 20px;
  background-image: url("https://img.icons8.com/ios-glyphs/20/FFFFFF/filled-trash.png");
  margin-right: 10px;
}

.btn-delete-disabled {
  height: 20px;
  width: 20px;
  background-image: url("https://img.icons8.com/ios-glyphs/20/FFFFFF/filled-trash.png");
  margin-right: 10px;
  opacity: 0.3;
}

.btn-tick-active {
  height: 20px;
  width: 20px;
  background-image: url("https://img.icons8.com/material-outlined/20/FFFFFF/checkmark--v1.png");
  margin-right: 10px;
}

.btn-tick-disabled {
  height: 20px;
  width: 20px;
  background-image: url("https://img.icons8.com/material-outlined/20/FFFFFF/checkmark--v1.png");
  margin-right: 10px;
  opacity: 0.3;
}

.btn-i-active {
  height: 20px;
  width: 20px;
  background-image: url("https://img.icons8.com/ios/20/FFFFFF/info--v1.png");
  margin-right: 10px;
}

.btn-i-disabled {
  height: 20px;
  width: 20px;
  background-image: url("https://img.icons8.com/ios/20/FFFFFF/info--v1.png");
  margin-right: 10px;
  opacity: 0.3;
}

.btn-adj-active {
  height: 30px;
  width: 30px;
  background-image: url("https://img.icons8.com/material-outlined/30/FFFFFF/document--v1.png");
}

.btn-adj-disabled {
  height: 30px;
  width: 30px;
  background-image: url("https://img.icons8.com/material-outlined/30/FFFFFF/document--v1.png");
  opacity: 0.3;
}

.header_fijo {
  width: 1150px;
  table-layout: fixed;
  border-collapse: collapse;
}

.header_fijo thead {
  align-items: center;
}

.header_fijo thead tr {
  display: block;
  position: relative;
}

.header_fijo tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 450px;
}

th {
  width: 192px;
  text-align: center;
}

tbody th {
  width: 120px;
}

td {
  width: 184px;
  text-align: center;
}

.tabla-anidada {
  width: 1100px;
  table-layout: auto;
  border-collapse: collapse;
}

.tabla-anidada tbody {
  display: block;
  overflow: auto;
  height: auto;
}

.doc-name {
  display: flex;
  flex-direction: row;
}

.verde {
  background-color: #47c769;
  border-radius: 20px;
}

.rojo {
  background-color: #c73f3f;
  border-radius: 20px;
}

.ambar {
  background-color: #e8b942;
  border-radius: 20px;
}
