.page-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontal */
  justify-content: center; /* vertical */
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #B7DBE9;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 225px;
  width: 300px;
  border: 1px solid #013042;
  border-radius: 5px;
  background-color: #0792C7;
}

.label-form {
  margin-top: 15px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.btn-add {
  background-color: #B7DBE9;
  border-radius: 10px;
  border: 1px solid #013042;
}

.input {
  margin: 10px;
}
