<div class="page-content">
  <div>
    <form class="form-content">
      <label class="label-form">Asignar Admin</label>
      <div class="inputs">
        <div class="input">
          <label style="margin-bottom: 10px" class="input-label">Nombre Proyecto</label>
          <label class="input-label">Admin Proyecto</label>
        </div>
        <div class="input">
          <input style="margin-bottom: 5px" type="text" placeholder="{{ project.name }}" readonly>
          <select name="miselect" [(ngModel)]="admin" class="form-select form-select-sm" aria-label="Default select example">
            <option selected disabled>Escoge una opción</option>
            <option value="{{item}}" *ngFor="let item of adminList">{{item}}</option>
          </select>
        </div>
      </div>
      <div class="form-buttons">
        <button class="btn btn-sm btn-cancel" (click)="onCancel()">
        Cancelar
        </button>
        <button [disabled]="admin==''" class="btn btn-sm btn-save" (click)="onAccept()">
        Guardar
        </button>
      </div>
    </form>
  </div>
</div>
