<div class="page-content">
  <div>
    <form class="form-content">
      <label class="label-form">Asignar Admin</label>
      <div class="inputs">
        <div class="input">
          <label style="margin-bottom: 10px" class="input-label">Nombre Proyecto</label>
          <label class="input-label">Admin Proyecto</label>
        </div>
        <div class="input">
          <input style="margin-bottom: 5px" type="text" placeholder="{{ project.nombre }}" readonly>
          <select name="miselect" [(ngModel)]="idCoordinador" class="form-select form-select-sm" aria-label="Default select example">
            <option selected value="0">Escoge una opción</option>
            <option value="{{person.id}}" *ngFor="let person of peopleList">{{person.primerNombre+' '+person.primerApellido}}</option>
          </select>
        </div>
      </div>
      <div class="form-buttons">
        <button class="btn btn-sm btn-cancel" (click)="onCancel()">
        Cancelar
        </button>
        <button [disabled]="(idCoordinador==undefined || idCoordinador==0) || peopleList.length==0" class="btn btn-sm btn-save" (click)="onAccept()">
        Guardar
        </button>
      </div>
    </form>
  </div>
</div>
