.page-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontal */
  justify-content: center; /* vertical */
  position: absolute;
  width: 100%;
  height: 90%;
  background: -webkit-linear-gradient(#015d96, #75c9f6);
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* vertical */
  height: 300px;
  width: 450px;
  border: 5px solid white;
  background-color: #75c9f6;
  margin-bottom: 100px;
}

.label-form {
  margin-bottom: 15px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.inputs {
  display: flex;
  flex-direction: row;
}

.input {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.input-label {
  color: white;
}

.btn-save {
  width: 80px;
  color: white;
  border-radius: 10px;
  background-color: #029ef1;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-cancel {
  width: 80px;
  color: white;
  border-radius: 10px;
  background-color: #029ef1;
  margin-left: 5px;
  margin-right: 5px;
}

.form-buttons {
  margin: 20px;
}
