<nav class="navbar navbar-expand-sm" style="background-color: #0792C7; border-bottom: 2px solid #035D80">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" routerLink="/">ACOES</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLink="/projects-list">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/people-list">Personas</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
